.img-form{
    width: 20%;
}
.tittle{
    margin: 3%;
    color: green;
    text-align: center;
    
}
.ml{
    margin-bottom: 3rem!important;
}

.movimiento{
    transition: 0.7s;
}

.movimiento:hover{
transform: scale(1.1);
}
.formulario{
    display: flex;
    justify-content: center;
}