<div class="container-fluid">
<div class="jumbotron bg-img">
    <h2> Bienvenido a</h2>
    <h2> GreenLife</h2>
    <p>
        Una plataforma en la que podrás interactuar con otras
        personas
    </p>
    <p>
        <span>creando proyectos o asistiendo a estos
            ambientales.Como recolectar</span>
    </p>
    <p>
        <span>plástico, ayudar perros y gatos entre otras.<h2>TE
                ANIMAS!</h2></span>
    </div>
</div>
<div class="container mb-3">
        <div class="row">
            <div class="col-md-8 m-4 card-n">
                <h1 class="text-success">
                    Animales en peligro de extinción
                </h1>
                <p class="texto">
                    Algunos de los animales más extraños de nuestro
                    planeta caminan en la cuerda floja de la
                    extinción. El fotógrafo Tim Flach ha pasado más
                    de dos años inmortalizando en fotografías
                    algunos de ellos, los más emblemáticos, curiosos
                    y llamativos
                </p>
                <button type="button" class="btn btn-info" data-toggle="modal"
                    data-target=".bd-example-modal-lg">Leer mas...</button>

                <div class="modal fade bd-example-modal-lg" tabindex="-1"
                    role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="myModalLabel">
                                    Animales en peligro de extinción
                                </h5>
                                <button type="button" class="close"
                                    data-dismiss="modal">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <p class="text-info">Ajolote
                                    En el axolotl, los aztecas vieron una
                                    manifestación del dios Xolotl, quien llevó a
                                    las almas al inframundo junto con el sol
                                    poniente.

                                    Hoy, solo queda una fracción de este sistema
                                    acuático, y está siendo contaminado por los
                                    fertilizantes, pesticidas, heces y basura de
                                    la Ciudad de México.</p>
                                <img class="img-modal"
                                    src="assets/images/animalextinto.jpg">
                            </div>
                            <div class="modal-body text-center">
                                <p class="text-success">Mandril
                                    Colores verdaderos

                                    El estilo lo es todo cuando vives en un
                                    grupo tan grande como el de un mandril. Con
                                    una tropa de 1.300 ejemplares una vez
                                    registrada en los bosques de Gabón, se cree
                                    que los mandriles forman los grupos sociales
                                    más grandes de primates no humanos. .</p>
                                <img class="img-modal"
                                    src="assets/images/mandril.jpg">
                            </div>
                            <div class="modal-body text-center">
                                <p class="text-info">Osos polares
                                    Escapando

                                    Los osos polares dependen del hielo marino
                                    para atrapar su presa. Se abalanzan sobre
                                    las focas cuando emergen a través de sus
                                    respiraderos y las acechan mientras toman el
                                    sol al aire libre, pero el hielo se está
                                    derritiendo a medida que nuestro clima se
                                    calienta.</p>
                                <img class="img-modal"
                                    src="assets/images/polar.jpg">
                            </div>
                            <div class="modal-footer">

                                <a
                                    href="https://www.nationalgeographic.com.es/naturaleza/grandes-reportajes/animales-peligro-extincion_12536/1"
                                    class="btn btn-info">¡Mas información!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <p>
                    <img class="img-boletin"
                        src="assets/images/animalextinto.jpg">
                </p>
            </div>
            <div class="col-md-8 m-4 card-n">
                <h1 class="text-success">
                    Cuida el AGUA
                </h1>
                <p class="texto">
                    El agua es sinónimo de vida. Sin ella, no habría personas,
                    animales, plantas. La Tierra sería un enorme desierto. A
                    pesar de que tres cuartas partes de nuestro planeta están
                    cubiertas por agua, una gran mayoría de ésta no es apta para
                    consumo humano
                </p>
                <button type="button" class="btn btn-info" data-toggle="modal"
                    data-target=".bd-example-modal">Leer mas...</button>

                <div class="modal fade bd-example-modal" tabindex="-1"
                    role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="myModalLabel">
                                    Tips para cuidar el agua
                                </h5>
                                <button type="button" class="close"
                                    data-dismiss="modal">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <p class="text-info">Dúchate en lugar de
                                    bañarte. Las duchas de 5 minutos consumen 50
                                    litros, mientras que para llenar una bañera
                                    son necesarios mínimo 200 litros.</p>
                                <p class="text-success">Cierra el grifo también
                                    mientras te lavas los dientes. Usando un
                                    vaso de enjuague, puedes ahorrar hasta un
                                    90% del agua empleada en el aseo personal.
                                    Sustituir este tipo de actos inconscientes
                                    es una manera sencilla de cuidar el agua
                                    que, además, no requiere ningún esfuerzo.</p>
                                <p class="text-info">Utiliza la lavadora con
                                    carga completa y pon el lavavajillas solo
                                    cuando esté lleno. Muchas veces, por las
                                    prisas o por necesitar una prenda concreta,
                                    las personas pueden acabar poniendo una
                                    lavadora con poca ropa. Intenta encontrar
                                    una sustituta para esa prenda y solo poner
                                    lavadoras bien cargadas.</p>
                            </div>
                            <div class="modal-footer">

                                <a
                                    href="/sign-up"
                                    class="btn btn-info">¡Cuida el agua! Alguna
                                    idea...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <p>
                    <img class="img-boletin"
                        src="assets/images/agua.jpg">
                </p>
            </div>
        </div>
    </div>