<div class="container-fluid">
    <div class="jumbotron bg-img">
        <h2> Bienvenido a</h2>
        <h2> GreenLife</h2>
        <p>
            Una plataforma en la que podrás interactuar con otras
            personas
        </p>
        <p>
            <span>creando proyectos o asistiendo a estos
                ambientales.Como recolectar</span>
        </p>
        <p>
            <span>plástico, ayudar perros y gatos entre otras.<h2>TE
                    ANIMAS!</h2></span>
        </div>
    </div>
    <div class="container mb-3">
        <div class="row">
            <div class="col-md-8 m-4 card-n">
                <h1 class="text-success">
                    Animales en peligro de extinción
                </h1>
                <p class="texto">
                    Algunos de los animales más extraños de nuestro
                    planeta caminan en la cuerda floja de la
                    extinción. El fotógrafo Tim Flach ha pasado más
                    de dos años inmortalizando en fotografías
                    algunos de ellos, los más emblemáticos, curiosos
                    y llamativos
                </p>
                <button type="button" class="btn btn-info" data-toggle="modal"
                    data-target=".bd-example-modal-lg">Leer mas...</button>

                <div class="modal fade bd-example-modal-lg" tabindex="-1"
                    role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="myModalLabel">
                                    Animales en peligro de extinción
                                </h5>
                                <button type="button" class="close"
                                    data-dismiss="modal">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <p class="text-info">Ajolote
                                    En el axolotl, los aztecas vieron una
                                    manifestación del dios Xolotl, quien llevó a
                                    las almas al inframundo junto con el sol
                                    poniente.

                                    Hoy, solo queda una fracción de este sistema
                                    acuático, y está siendo contaminado por los
                                    fertilizantes, pesticidas, heces y basura de
                                    la Ciudad de México.</p>
                                <img class="img-modal"
                                    src="assets/images/animalextinto.jpg">
                            </div>
                            <div class="modal-body text-center">
                                <p class="text-success">Mandril
                                    Colores verdaderos

                                    El estilo lo es todo cuando vives en un
                                    grupo tan grande como el de un mandril. Con
                                    una tropa de 1.300 ejemplares una vez
                                    registrada en los bosques de Gabón, se cree
                                    que los mandriles forman los grupos sociales
                                    más grandes de primates no humanos. .</p>
                                <img class="img-modal"
                                    src="assets/images/mandril.jpg">
                            </div>
                            <div class="modal-body text-center">
                                <p class="text-info">Osos polares
                                    Escapando

                                    Los osos polares dependen del hielo marino
                                    para atrapar su presa. Se abalanzan sobre
                                    las focas cuando emergen a través de sus
                                    respiraderos y las acechan mientras toman el
                                    sol al aire libre, pero el hielo se está
                                    derritiendo a medida que nuestro clima se
                                    calienta.</p>
                                <img class="img-modal"
                                    src="assets/images/polar.jpg">
                            </div>
                            <div class="modal-footer">

                                <a
                                    href="https://www.nationalgeographic.com.es/naturaleza/grandes-reportajes/animales-peligro-extincion_12536/1"
                                    class="btn btn-info">¡Mas información!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <p>
                    <img class="img-boletin"
                        src="assets/images/leonb.jpg">
                </p>
            </div>
            <div class="col-md-8 m-4 card-n">
                <h1 class="text-success">
                    Cuida el AGUA
                </h1>
                <p class="texto">
                    El agua es sinónimo de vida. Sin ella, no habría personas,
                    animales, plantas. La Tierra sería un enorme desierto. A
                    pesar de que tres cuartas partes de nuestro planeta están
                    cubiertas por agua, una gran mayoría de ésta no es apta para
                    consumo humano
                </p>
                <button type="button" class="btn btn-info" data-toggle="modal"
                    data-target=".bd-example-modal">Leer mas...</button>

                <div class="modal fade bd-example-modal" tabindex="-1"
                    role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="myModalLabel">
                                    Tips para cuidar el agua
                                </h5>
                                <button type="button" class="close"
                                    data-dismiss="modal">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <p class="text-info">Dúchate en lugar de
                                    bañarte. Las duchas de 5 minutos consumen 50
                                    litros, mientras que para llenar una bañera
                                    son necesarios mínimo 200 litros.</p>
                                <p class="text-success">Cierra el grifo también
                                    mientras te lavas los dientes. Usando un
                                    vaso de enjuague, puedes ahorrar hasta un
                                    90% del agua empleada en el aseo personal.
                                    Sustituir este tipo de actos inconscientes
                                    es una manera sencilla de cuidar el agua
                                    que, además, no requiere ningún esfuerzo.</p>
                                <p class="text-info">Utiliza la lavadora con
                                    carga completa y pon el lavavajillas solo
                                    cuando esté lleno. Muchas veces, por las
                                    prisas o por necesitar una prenda concreta,
                                    las personas pueden acabar poniendo una
                                    lavadora con poca ropa. Intenta encontrar
                                    una sustituta para esa prenda y solo poner
                                    lavadoras bien cargadas.</p>
                            </div>
                            <div class="modal-footer">

                                <a
                                    href="/sign-up"
                                    class="btn btn-info">¡Cuida el agua! Alguna
                                    idea...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <p>
                    <img class="img-boletin"
                        src="assets/images/agua.jpg">
                </p>
            </div>
        </div>
    </div>
    <section>
        <div class="container">


            <div class="row mbr-justify-content-center">

                <div class="col-lg-6 mbr-col-md-10">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="mbr-iconfont fa-recycle fa"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold
                                mbr-section-title3 display-5"><span>Reciclar</span></h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">Separa
                                la basura. Desde pequeños es bueno que los niños
                                aprendan a separar los residuos para que se
                                puedan reciclar. Enséñales qué se tira en cada
                                color y por qué se debe hacer así.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mbr-col-md-10">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="mbr-iconfont fa-sync fa"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold
                                mbr-section-title3 display-5">
                                <span>Reutiliza</span>
                            </h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">Usa
                                productos que puedan reutilizarse. Hay muchos
                                productos que se pueden usar varias veces para
                                proteger la naturaleza. Por ejemplo, utiliza
                                servilletas de tela en lugar de servilletas de
                                papel.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mbr-col-md-10">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="mbr-iconfont fa-lightbulb fa"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold
                                mbr-section-title3 display-5">
                                <span>Apaga las luces</span>
                            </h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">Parece
                                obvio, pero no nos damos cuenta de la cantidad
                                de veces que encendemos la luz de una habitación
                                que no ocupamos. Acostumbra a tus hijos a apagar
                                la luz y cuando te marches de casa comprueba que
                                todo está apagado.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mbr-col-md-10">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="mbr-iconfont fa-tree fa"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold
                                mbr-section-title3 display-5"><span> Planta árboles. </span></h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">
                               Los árboles producen oxígeno y
                                son esenciales para la naturaleza, así que
                                planta un árbol en tu casa o en la comunidad
                                donde vives.
                            Lo dicen los expertos: no hay especie mala, sino especies plantadas en el lugar inadecuado.</p>
                        </div>
                        
                        </div>
                        <a class="text-info" href="https://eacnur.org/blog/acciones-cuidar-medio-ambiente-casa-tc_alt45664n_o_pstn_o_pst/">Información</a>

                    </div>




                </div>

            </div>
        </section>
<div id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-with-lb" data-slide-to="0" class="active secondary-color"
            style="background-color: blue;"></li>
        <li data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color" style="background-color: blue;">
        </li>
        <li data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color" style="background-color: blue;">
        </li>
    </ol>

    <div class="carousel-inner mdb-lightbox" role="listbox">
        <div id="mdb-lightbox-ui"></div>

        <div class="carousel-item text-center">

            <figure class="col-md-4 d-md-inline-block">
                <img src="assets/images/omacha.png" class="img-fluid" width="250">
            </figure>

            <figure class="col-md-4 d-md-inline-block">
                <img src="assets/images/ministerio.png" class="img-fluid" width="250">
            </figure>

            <figure class="col-md-4 d-md-inline-block">
                <img src="assets/images/verde.png" class="img-fluid" width="250">
            </figure>

        </div>

        <div class=" carousel-item active text-center">

            <figure class="col-md-4 d-md-inline-block">
                <img src="assets/images/wwf.png" class="img-fluid" width="250">
            </figure>

            <figure class="col-md-4 d-md-inline-block">
                <img src="assets/images/ecocosas.png" class="img-fluid" width="250">
            </figure>

            <figure class="col-md-4 d-md-inline-block">
                <img src="assets/images/natura.png" class="img-fluid" width="250">
            </figure>

        </div>

        <div class="carousel-item text-center">

            <figure class="col-md-4 d-md-inline-block">
                <img src="assets/images/animal.png" class="img-fluid" width="200">
            </figure>

            <figure class="col-md-4 d-md-inline-block">
                <img src="assets/images/ecoportal.png" class="img-fluid" width="250">
            </figure>

            <figure class="col-md-4 d-md-inline-block">
                <img src="assets/images/ecoinventos.png" class="img-fluid" width="250">
            </figure>

        </div>
    </div>
</div>
        <app-footer></app-footer>