<div class="container" >
    <h1>Actualizar Usuario</h1>
    <form [formGroup]="createUserForm" (ngSubmit)="saveUser()" >

        <div class="form-row" >
            <div class="form-group col-md-6" >
              <label><b>Nombre:</b></label>
              <input formControlName="name" id="name" type="text" class="form-control" >
            </div>
            <div class="form-group col-md-6" >
              <label><b>Apellido:</b></label>
              <input formControlName="lastName" id="lastName" type="text" class="form-control" >
            </div>
        </div>
        <div class="form-row" >
            <div class="form-group col-md-12" >
              <label><b>Nombre Usuario:</b></label>
              <input formControlName= "userName" id="userName" type="text" class="form-control" >
            </div>
        </div>
       

        <div class="form-row" >
            <div class="form-group col-md-6" >
              <label><b>Email:</b></label>
              <input formControlName="email" id="email" type="email" class="form-control" >
            </div>
            <div class="form-group col-md-6" >
              <label><b>Ciudad:</b></label>
              <input formControlName="city" id="city" type="text" class="form-control" >
            </div>
        </div>

        <div class="form-row" >
            <div class="form-group col-md-12" >
              <label><b>Numero Celular:</b></label>
              <input formControlName="cellPhone" id="cellPhone" type="text" class="form-control" >
            </div>
            <div class="form-group col-md-12" >
                <label><b>Estado:</b></label>
                <input formControlName="status" id="status" type="text" class="form-control" >
              </div>
        </div>

        <!-- <div class="form-row">
          <div class="form-group col-md-6">
            <label for="password"><b>Contraseña:</b></label>
              <input formControlName="password" id="password" type="password" required class="form-control"
              class="form-control" >
              <div *ngIf="updateUserForm.get('password').error?.minlength">
                <p class="text-danger">La contraseña debe tener minimo 6 caracteres</p>
                </div>
            </div>
        </div>

        <div class="form-row" *ngIF="!updateUserForm.valid"></div> -->

        <button class="btn btn-lg btn-info" >Guardar</button>
        
    </form>
</div>
