<div class="container mt-5">
    <div class="buscar-titulo">
  
   
  
    <h2 class="title">Usuarios Registrados</h2>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Camilo Sa" aria-label="Buscar">
      <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
    </form>
  </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre Apellido</th>
            <th scope="col">Correo</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Número celular</th>
            <th scope="col">Nombre Usuario</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of allProjects" class="movimiento">
            <th scope="row">{{u.name}} {{u.lastName}}</th>
            <td >{{u. email}}</td>
            <td>{{u.city}}</td>
            <td>{{u.cellPhone}} </td>
            <td>{{u.userName}} </td>
            <td style="color: rgb(18, 218, 18);"><b>{{u.status}}</b> </td>      
            
            <td><a class="modificar-enlace close-icon" (click)="updateUser(u)" ><i class="fas fa-user-edit"></i></a></td>
          </tr>
        </tbody>
      </table>
  </div>
