<div class="container-elementos  color">
    <div class="Contenedor-Crear">
        <h2>Crear cuenta</h2>
        
        <form [formGroup]="signUpForm" (ngSubmit)="saveUser()">
            <div class="form-row">
                <div class="col-12 mb-3">
                    <input formControlName="name" type="text" class="form-control" id="name" placeholder="Nombre">
                </div>
                <div class="col-12 mb-3">
                    <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Apellido">
                </div>
           
         
                <div class="col-12 mb-3">
                    <input formControlName="email" type="email" class="form-control" id="email" placeholder="Correo">
                    <p *ngIf="signUpForm.get('email').hasError('email')" class="errorMessage">El correo electrónico es incorrecto</p>
                </div>
                <div class="col-12 mb-3">
                    <input formControlName="city"  type="text" class="form-control" id="city" placeholder="Ciudad">
                </div>
                   
            
                <div class="col-12 mb-3">
                    <input formControlName="cellPhone" type="text" class="form-control" id="cellPhone" placeholder="Teléfono">
                </div>
                <div class="col-12 mb-3">
                    
                    <input formControlName="userName" type="text" class="form-control" id="userName" placeholder="Nombre de usuario">
                    <!-- <span class="opacidad">Con este usuario iniciaras sesion</span> -->
                </div>
            
                <div class="col-12 mb-3">
                    <input formControlName="password" type="password" class="form-control" id="password" placeholder="Contraseña">
                    <p *ngIf="signUpForm.get('password').hasError('minlength')" class="errorMessage">La contraseña debe ser mayor a 6 carácteres</p>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-lg btn-success">Registrate</button>
            </div>
            
        </form>
    </div>
    <div  class="imagen-Contenedor" >
        <div class ="img-signUp" style="background-image: url('assets/images/planta1.jpg'); height: 590px;" >
            <!--<img class="img-signUp" src="assets/images/ArbolCrearCuenta.jpg">-->
            <div class="contenido-imagen">
               
                <h1>
                    GreenLife Apoya al planeta!</h1>

                <p style="margin-top: 30px;">Unete a GreenLife, ayuda al planeta y haz parte de esta hermosa causa que cada dia es apoyada por más y más personas.</p>

                <h5><a href="/">Conoce más <i class="far fa-arrow-alt-circle-right"></i></a></h5>

            </div>
            
        </div>
    </div>
    
</div>




