<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active height-carousel">
            <img src="https://images.pexels.com/photos/5029860/pexels-photo-5029860.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item height-carousel">
            <img src="https://images.pexels.com/photos/2422915/pexels-photo-2422915.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item height-carousel">
            <img src="https://images.pexels.com/photos/15286/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item height-carousel">
            <img src="https://images.pexels.com/photos/3293148/pexels-photo-3293148.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item height-carousel">
            <img src="https://images.pexels.com/photos/5486966/pexels-photo-5486966.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<h2 class="title" style="margin-top: 80px;">Nuestros Servicios</h2>
<div style="display: flex; justify-content: center; margin-bottom: 80px;">
    <div style=" border-bottom: 1px solid rgba(19, 153, 26, 0.774);  width:500px;"></div>
</div>
<div class="container-fluid mt-4" id="container_service">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div style="text-align: center;">
                <img src="assets/images/project.png" class="card-img-top mt-4" alt="project">
            </div>
            <div class="card-body">
                <h5 class="card-title">Proyectos</h5>
                <p class="card-text">
                    Gestión de proyectos ambientales que tengan impactos positivos hacía la naturaleza.
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div style="text-align: center;">
                <img src="assets/images/hoja.png" class="card-img-top mt-4" alt="project">
            </div>
            <div class="card-body">
                <h5 class="card-title">Voluntariados</h5>
                <p class="card-text">
                    Haz parte de un grupo de voluntariados para aportar a los proyestos ambientales.
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div style="text-align: center;">
                <img src="assets/images/experiences.png" class="card-img-top mt-4" alt="project">
            </div>
            <div class="card-body">
                <h5 class="card-title">Experiencias</h5>
                <p class="card-text">
                    Comparte tus experiencias personales acerca de los proyectos y demás con otros usuarios.
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div style="text-align: center;">
                <img src="assets/images/money.png" class="card-img-top mt-4" alt="project">
            </div>
            <div class="card-body">
                <h5 class="card-title">Donaciones</h5>
                <p class="card-text">
                    Realiza donaciones a proyecto y/o entidades que lo necesiten.</p>
            </div>
        </div>
    </div>
</div>


<h2 class="title" style="margin-top: 80px;">¡Somos únicos!</h2>
<div class="m-3" style="display: flex; justify-content: center;">
    <div style=" border-bottom: 1px solid rgba(19, 153, 26, 0.774);  width:500px;"></div>
</div>
<h5 class="subtitle" style="margin-bottom: 80px;">Todo el control ambiental que necesitas</h5>
<div class="container-fluid row" id="container_special">
    <div class="col-5 p-5">
        <h5>Green Life no es sólo una Plataforma</h5>
        <p>Green Life es una plataforma que ayuda a la gestión de proyectos ambientales, estos proyectos se podrán
            realizar en diferentes lugares de Colombia como parques, bosques, playas, rios, ect.<br><br> Forma o haz
            parte de grupos de voluntariados para aistir a los diferentes eventos asi mismo corre la voz a través de las
            experiencias que publiques. <br><br> Green life es todo lo que buscas y necesitas, contamos con un grupo de
            administradores que aportan seguridad y eficiencia a los proyectos que publiques o asistas, recuerda que en
            tus manos esta el cambio, ¿Qué esperas?. <br><br> <b class="message">SUMATE a Green Life, la plataforma más
                completa de Colombia...</b>
        </p>
    </div>
    <div class="col-2 p-5" style="text-align: center;">
        <img src="assets/images/ayuda.png" alt="voluntario" width="55"><br>
        <img src="assets/images/linea.png" alt="linea" width="55"><br>
        <img src="assets/images/colombia.png" alt="colombia" width="55"> <br>
        <img src="assets/images/linea.png" alt="linea" width="55"> <br>
        <img src="assets/images/proteger.png" alt="progress" width="55"> <br>
        <img src="assets/images/linea.png" alt="linea" width="55"> <br>
        <img src="assets/images/reloj.png" alt="reloj" width="55"> <br>
    </div>
    <div class="col-5 p-5">
        <p class="mb-5 mt-5 parrafo">La colaboración entre todos te lleva al éxito</p>
        <p class="mb-5 mt-5 parrafo">Plataforma desarrollada por mujeres colombianas</p>
        <p class="mb-5 mt-5 parrafo">Seguridad virtual</p>
        <p class="mb-5 mt-5 parrafo">Eventos planeados</p>
    </div>
</div>

<div class="container-fluid" id="container_image" style="background-image: url('https://images.pexels.com/photos/3480494/pexels-photo-3480494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); height: 300px;
background-attachment: fixed; background-size: cover; padding-top: 110px;">
    <h1 style="color: #fff; text-align: center; font-family: 'Raleway', sans-serif;">Jornadas de limpieza ambientales en
        playas</h1>

</div>

<h2 class="title" style="margin-top: 100px;">Proyectos destacados</h2>
<div class="m-3" style="display: flex; justify-content: center;">
    <div style=" border-bottom: 1px solid rgba(19, 153, 26, 0.774);  width:500px;"></div>
</div>
<h5 class="subtitle" style=" margin-bottom: 100px;">Generando impactos positivos al medio ambiente</h5>
<div class="container-fluid mt-5 mb-5" id="container_projects">
    <div class="row" style="display: flex; justify-content: center;">
        <div class="card m-2" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2020/06/10/11/20/dogs-5282275_960_720.jpg" class="card-img-top"
                alt="incendio" width="100%">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/5486961/pexels-photo-5486961.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                class="card-img-top" alt="playa">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/5487075/pexels-photo-5487075.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/5487072/pexels-photo-5487072.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="container_image" style="background-image: url('https://cdn.pixabay.com/photo/2017/04/25/07/01/cute-2258711_960_720.jpg'); height: 400px;
background-attachment: fixed; background-size: cover; padding-top: 150px;">
    <h1 style="color: #fff; text-align: center; font-family: 'Raleway', sans-serif;">¡Ellos tambien importan!</h1>

</div>

<h2 class="title" style="margin-top: 100px;">Patitas al rescate</h2>
<div class="m-3" style="display: flex; justify-content: center;">
    <div style=" border-bottom: 1px solid rgba(19, 153, 26, 0.774);  width:500px;"></div>
</div>
<h5 class="subtitle" style=" margin-bottom: 100px;">No puedes cambiar el mundo pero si el mundo de ellos</h5>
<div class="container-fluid mt-4 mb-5" id="container_service">
    <div class="row">
        <div class="card" style="width: 21rem;">
            <div style="text-align: center;">
                <img src="assets/images/shiba.png" class="card-img-top mt-4" alt="project">
            </div>
            <div class="card-body">
                <h5 class="card-title">Peludos callejeros</h5>
                <p class="card-text">
                    Únete a proyectos que tengan como objetivo ayudar a perros y gatos callejeros, haz parte de grupos
                    de busqueda que ayuden a encontrales un hogar.
                </p>
            </div>
        </div>
        <div class="card" style="width: 21rem;">
            <div style="text-align: center;">
                <img src="assets/images/actualizar.png" class="card-img-top mt-4" alt="project">
            </div>
            <div class="card-body">
                <h5 class="card-title">Grupos de apoyo</h5>
                <p class="card-text">
                    Gracias a la organización de los proyectos que permite gestionar Green life, haz parte de grupos
                    externos que te permitan seguir aportando al medio ambiente y a animales necesitados.
                </p>
            </div>
        </div>
        <div class="card" style="width: 21rem;">
            <div style="text-align: center;">
                <img src="assets/images/comida.png" class="card-img-top mt-4" alt="project">
            </div>
            <div class="card-body">
                <h5 class="card-title">Alimentos</h5>
                <p class="card-text">
                    Como iniciativa propia, realiza actividades donde se alimente a nuestro amigos de cuatro patas,
                    jornadas de alimentación para ellos.
                </p>
            </div>
        </div>
    </div>
</div>

<h2 class="title" style="margin-top: 100px; margin-bottom: 100px;">Información confiable</h2>
<div id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls
    <div class="controls-top mb-5" style="display:flex; justify-content: center;">
        <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="prev" style="background-color: rgb(40, 147, 246); width: 90; margin:10px; padding:5px; border-radius:6px;"><i
                class="fas fa-chevron-left" style="font-size: 30px;"></i></a>
        <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="next" style="background-color: rgb(40, 147, 246); width: 90; margin:10px; padding:5px; border-radius:6px;"><i
                class="fas fa-chevron-right" style="font-size: 30px;"></i></a>
    </div>
    <Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-with-lb" data-slide-to="0" class="active secondary-color"
            style="background-color: blue;"></li>
        <li data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color" style="background-color: blue;">
        </li>
        <li data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color" style="background-color: blue;">
        </li>
    </ol>

    <div class="carousel-inner mdb-lightbox" role="listbox">
        <div id="mdb-lightbox-ui"></div>

        <div class="carousel-item text-center">

            <figure class="col-md-4 d-md-inline-block">
                <img src="assets/images/omacha.png" class="img-fluid" width="250">
            </figure>

            <figure class="col-md-4 d-md-inline-block">
                <img src="assets/images/ministerio.png" class="img-fluid" width="250">
            </figure>

            <figure class="col-md-4 d-md-inline-block">
                <img src="assets/images/verde.png" class="img-fluid" width="250">
            </figure>

        </div>

        <div class=" carousel-item active text-center">

            <figure class="col-md-4 d-md-inline-block">
                <img src="assets/images/wwf.png" class="img-fluid" width="250">
            </figure>

            <figure class="col-md-4 d-md-inline-block">
                <img src="assets/images/ecocosas.png" class="img-fluid" width="250">
            </figure>

            <figure class="col-md-4 d-md-inline-block">
                <img src="assets/images/natura.png" class="img-fluid" width="250">
            </figure>

        </div>

        <div class="carousel-item text-center">

            <figure class="col-md-4 d-md-inline-block">
                <img src="assets/images/animal.png" class="img-fluid" width="200">
            </figure>

            <figure class="col-md-4 d-md-inline-block">
                <img src="assets/images/ecoportal.png" class="img-fluid" width="250">
            </figure>

            <figure class="col-md-4 d-md-inline-block">
                <img src="assets/images/ecoinventos.png" class="img-fluid" width="250">
            </figure>

        </div>
    </div>
</div>

<div class="container-fluid mt-4 mb-5" id="container_service">
    
</div>

<app-footer></app-footer>