.title{
    margin-bottom: 60px;
    color:rgb(41, 163, 30);
    border-bottom: 2px solid rgba(74, 149, 67, 0.678);
    padding-bottom: 10px;
}

.fa-user-edit{
    color: rgb(43, 139, 230);
    font-size: 20px;
    margin-right: 10px;
}

.fa-trash-alt{
    color: rgb(240, 27, 27);
    font-size: 20px;
}