<!--<div class="container mt-5">
    <h2 class="title">Donaciones registradas</h2>
    <div class="row">
        <div class="col mb-4" *ngFor="let d of allDonations">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="card-header">Donación</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Entidad: </b> {{d.entity}} </li>
                        <li class="list-group-item"><b>Proyecto: </b> {{d.project}} </li>
                        <li class="list-group-item"><b>Editorial: </b> {{d.publisher}} </li>
                        <li class="list-group-item"><b>Usuario: </b> {{d.user}} </li>
                        <li class="list-group-item"><b>Descripción: </b> {{d.description}} </li>
                        <li class="list-group-item"><b>Valor: </b> {{d.value}} </li>
                        <li class="list-group-item"><b>Soporte de pago: </b> {{d.paymentSupport}} </li>
                    </ul>
                    <button type="button" class="btn btn-info" (click)="updateDonation(d)">Modificar</button>
                </div>
            </div>
        </div>
    </div>
</div>-->


<div>
    <div class="container mt-5 mb-5">
        <h2 class="title text-center">Donaciones registradas</h2>
        <div class="row" style="display: flex; justify-content: center;">
            <div style="width: 50%;display: flex; justify-content: center; border-right: 1px solid #ccc;">
                <div class="card" style="width: 24rem; border: none;">
                    <!--<img src="assets/images/donaciones.png" class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <h5 class="card-title"
                            style="font-family: 'Raleway', sans-serif; color:rgb(26, 98, 167); font-weight: bold;">Meta
                            financiera Green Life</h5>
                        <h5 class="card-title"
                            style="font-family: 'Raleway', sans-serif; color:rgb(26, 98, 167); font-weight: bold;">
                            $5.000.000</h5>
                        <p class="card-text">Actual meta financiera, cada granito cuenta, a través de las donaciones
                            podrás llegar al valor planteado, recuerda todos somos uno</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45"
                                aria-valuemin="0" aria-valuemax="100" >45%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 50%; display: flex; justify-content: center;">
                <div class="card" style="width: 24rem; border: none;">
                    <div class="card-body">
                        <h5 class="card-title"
                            style="font-family: 'Raleway', sans-serif; color:rgb(26, 98, 167); font-weight: bold;">Nueva
                            Meta Financiera</h5>
                        <p class="card-text">Ingresa el nuevo valor objetivo que requiera Green Life</p>
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" aria-describedby="emailHelp"
                                    placeholder="Valor">
                                <small id="emailHelp" class="form-text text-muted">Cantidad Honesta que se necesite para
                                    Green Life, Terminos y condiciones.</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="buscar container text-center mt-5 mb-4">
        <label class="center mt-2" style="font-family: 'Raleway', sans-serif; color: green; font-weight: bold;">Buscar Donacion: </label>
        <div class="col-7">
            <input type="search" aria-label="Search" placeholder="Buscar" class="form-control mb-4" (keyup)="loadDonation()" [(ngModel)]="search">
        </div>
    </div>
    <table class="table">
        <thead class="bg-info text-light">
            <tr>
                <th scope="col">Entidad</th>
                <th scope="col">Proyecto</th>
                <th scope="col">Descripción</th>
                <th scope="col">Valor</th>
                <th scope="col">Soporte de pago</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of allDonations" class="movimiento">
                <th scope="row">{{d.entity}}</th>
                <td>{{d.project.name}}</td>
                <td>{{d.description}}</td>
                <td>{{d.value}}</td>
                <td>{{d.paymentSupport}}</td>
                <td><a (click)="updateDonation(d)" class="acciones close-icon"><i class="fas fa-user-edit"></i></a>
                    <a  class="close-icon" (click)="removeBook(d._id)"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>
