body{
    margin: 0%;
}
video{
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;

}
#video_pattern {
    background:#fff;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card{
    background-color: rgba(212, 241, 241, 0.582);
    border-radius: 8px;
    margin: 10% 0% 20% 40%;
    height: 100%;
}
.tittle{
    text-align: center;
    margin-top: 5%;
    color: whitesmoke;
}
