<div class="fondo" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../../../assets/images/flores.jpg);">
    <img class="fondo d-block w-100" style="height: 200px;">
    <h1 class="texto" style="font-size:medium; ">
        "Si realmente amas la naturaleza, encontrarás belleza en todas partes" <br>
        <small>- Vicent Van Gogh - </small>
    </h1>

</div>

<div class="container ">
    <!--text-center-->

    <h2 class="titulo" style="margin:10px; margin-top: 5%; margin-bottom:4%">Sobre Nosotros</h2>

    <p style="padding-left:80px; padding-right:80px; margin-bottom:4%">
        Green-Life es un proyecto ambiental, el cual surgió a partir de la necesidad que ha generado el preservar la naturaleza y en general el hábitat en que vivimos.
        <br> El medio ambiente a lo largo de los últimos años se ha visto afectado por la mano del hombre, donde desafortunadamente a través de la poca conciencia que se tiene, ha sido damnificado de formas aterradoras a tal punto de hacer el cambio climático
        todo un hecho, que tanto a animales y naturaleza afecta incluyendo a los seres humanos.
    </p>

    <!-- Image Header -->
    <img class="img-fluid rounded mb-4" src="../../../assets/images/Cards/card5.jpg" alt="" style=" margin-top: 0; margin-left: 4%; width: 1000px;" />

    <hr color=" #5cc448" size=3>

    <!-- Services Section -->
    <div class="services-bar">
        <!-- Services Section -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <h4 class="card-header">Nuestros Valores</h4>
                    <div class="card-img" style="margin-left: 6%;">
                        <img class="img-fluid img-card-sn" src="../../../assets/images/Cards/sn1.png" alt="" />
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Comprometidos con el Medio Ambiente <br> Comprometidos con la Sociedad <br> Innovación tecnológica
                        </p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#NuestrosValores">
                            Leer Más
                        </button>
                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="NuestrosValores" tabindex="-1" aria-labelledby="NuestrosValoresLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content ">
                                <div class="modal-header ">
                                    <h4 class="modal-title " id="NuestrosValoresLabel " style="color: #5cc448;">Lo que nos hace únicos</h4>
                                    <button type="button " class="close " data-dismiss="modal" aria-label="Close ">
                                <span aria-hidden="true ">&times;</span>
                            </button>
                                </div>
                                <div class="modal-body ">
                                    <div class="ewf-wrapper ">
                                        <ul class="services-list " style="list-style: none; color: grey; ">
                                            <li><i class="fa fa-leaf " style="font-size: 20px; "></i>
                                                <!--ifc-hand_planting-->
                                                <div class="services-list-content ">
                                                    <h5 style="color: #397ae2f1;">Comprometidos con el Medio Ambiente</h5>
                                                    <p>
                                                        Perseguimos que todos nuestros proyectos y actividades se realicen de forma respetuosa con la conservación del medio ambiente, desde la perspectiva del cuidado del entorno natural y el desarrollo sostenible. Nos consideramos una empresa comprometida con
                                                        la calidad de vida de la sociedad actual y de las generaciones futuras, sus operaciones se realizan de forma responsable y eficiente con los recursos naturales.
                                                    </p>
                                                </div>
                                                <!-- end .process-builder-1-content -->
                                            </li>
                                            <li><i class="fa fa-users " style="font-size: 20px; "></i>
                                                <div class="services-list-content ">
                                                    <h5 style="color: #397ae2f1;">Comprometidos con la Sociedad</h5>
                                                    <p>
                                                        Pensamos ayudar a la consecución de la demandada Sostenibilidad. Tenemos las herramientas y conocimientos necesarios para conservar y proteger el medio ambiente, ofreciendo nuestra colaboración en los procesos e intentando que nuestra política ambiental,
                                                        y por tanto nuestro compromiso con la sociedad, se extienda más allá de lo demandado.
                                                    </p>
                                                </div>
                                                <!-- end .process-builder-1-content -->
                                            </li>
                                            <li><i class="fa fa-laptop " style="font-size: 20px; "></i>
                                                <div class="services-list-content ">
                                                    <h5 style="color: #397ae2f1;">Innovación tecnológica</h5>
                                                    <p>
                                                        Queremos representar un avance en el sector del asesoramiento y la consulta ambiental y además innovar con un producto y servicio nuevo basado en los avances tecnológicos. Nos apoyamos en los nuevos medios de comunicación, divulgación y marketing: redes
                                                        sociales y los canales de difusión web, para conseguir llegar a más gente y ofrecer un producto con mayor repercusión social. Implementamos los productos de software de libre de distribución para
                                                        conseguir un ahorro para el cliente y la accesibilidad para el público en general.
                                                    </p>
                                                </div>
                                                <!-- end .process-builder-1-content -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="modal-footer ">
                                    <button type="button " class="btn btn-secondary " data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4 ">
                <div class="card h-100 ">
                    <h4 class="card-header ">¿Qué Hacemos?</h4>
                    <div class="card-img" style="margin-left: 6%;">
                        <img class="img-fluid img-card-sn " src="../../../assets/images/Cards/sn3.png " alt=" " />
                    </div>
                    <div class="card-body ">
                        <p class="card-text ">
                            Contribuir a la conservación <br> Manejo sostenible de los recursos <br> Iniciativas ambientales
                        </p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#QueHacemos">
                            Leer Más
                        </button>
                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="QueHacemos" tabindex="-1" aria-labelledby="QueHacemosLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title " id="QueHacemosLabel" style="color: #5cc448;">¿Qué Hacemos?</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                                </div>
                                <div class="modal-body" style="color: grey;">
                                    <div class="ewf-wrapper ">
                                        <ul class="services-list " style="list-style: none; color: grey; ">
                                            <li><i class="fa fa-heart" style="font-size: 20px; "></i>
                                                <!--ifc-hand_planting-->
                                                <div class="services-list-content ">
                                                    <h5 style="color: #397ae2f1;">Misión</h5>
                                                    <p>
                                                        Contribuir a la conservación y manejo sostenible de los recursos naturales y del medio ambiente desde la justicia y solidaridad, participando en la ejecución y administración de proyectos estratégicos de desarrollo ambiental en el ámbito local, nacional.
                                                        Tenemos como objetivo promover, participar, estimular e intervenir en iniciativas de carácter ambiental con el fin de potenciar y desarrollar estilos de vida sostenibles.
                                                    </p>
                                                </div>
                                                <!-- end .process-builder-1-content -->
                                            </li>
                                            <li><i class="fa fa-angle-double-up" aria-hidden="true" style="font-size: 20px; "></i>
                                                <div class="services-list-content ">
                                                    <h5 style="color: #397ae2f1;">Visión</h5>
                                                    <p>
                                                        Queremos ser reconocidos como una organización líder y consolidada en materia ambiental, comprometida con el mejoramiento de la calidad de vida de la población y el manejo sostenible de los recursos naturales, en un mundo donde los pueblos vivan en igualdad
                                                        y dignidad y en armonía con la naturaleza.
                                                        <br> Para ello, pone a disposición las mejores capacidades profesionales para garantizar altos niveles de eficiencia en sus actuaciones a la vez que adquiere un fuerte compromiso con todos sus grupos
                                                        de interés para el cumplimiento de su misión.
                                                    </p>
                                                </div>
                                                <!-- end .process-builder-1-content -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4 ">
                <div class="card h-100 ">
                    <h4 class="card-header ">¿Cómo Funciona?</h4>
                    <div class="card-img " style="margin-left: 6%;">
                        <img class="img-fluid img-card-sn " src="../../../assets/images/Cards/sn2.png " alt=" " />
                    </div>
                    <div class="card-body ">
                        <p class="card-text ">
                            Aprendizajes <br> Voluntariados <br> Donaciónes
                        </p>
                    </div>
                    <div class="card-footer">
                        <button type="button " class="btn btn-primary" data-toggle="modal" data-target="#ComoFunciona">
                            Leer Más
                        </button>
                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="ComoFunciona" tabindex="-1" aria-labelledby="ComoFuncionaLabel" aria-hidden="true">
                        <div class="modal-dialog ">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="ComoFuncionaLabel" style="color: #5cc448;">¿Como Funciona?</h4>
                                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true ">&times;</span>
                            </button>
                                </div>
                                <div class="modal-body">
                                    <div class="ewf-wrapper ">
                                        <ul class="services-list " style="list-style: none; color: grey; ">
                                            <li><i class="fa" style="font-size: 20px; ">1.</i>
                                                <!--ifc-hand_planting-->
                                                <div class="services-list-content ">
                                                    <h5 style="color: #397ae2f1;">¿Te interesan los Voluntariados?</h5>
                                                    <p>
                                                        Como sabes, se trata de un acto altruista que te permite donar tu tiempo y tu esfuerzo para contribuir a una causa concreta. Ser voluntario o voluntaria significa participar en una causa colaborando de diferentes maneras, por eso es una práctica de la
                                                        que puedes aprender mucho. Queremos que te animes a probarlo. <b>¡Acabarás repitiendo!</b>
                                                    </p>
                                                </div>
                                                <!-- end .process-builder-1-content -->
                                            </li>
                                            <li><i class="fa" style="font-size: 20px; ">2.</i>
                                                <div class="services-list-content ">
                                                    <h5 style="color: #397ae2f1;">Haz tu Donación</h5>
                                                    <p>
                                                        Somos una organizacion de la sociedad civil, sin ánimo de lucro, que opera gracias al aporte económico de empresas, cooperación internacional y donaciones de personas como tú, que creen en nuestro trabajo.
                                                    </p>
                                                </div>
                                                <!-- end .process-builder-1-content -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="modal-footer ">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <br><br>

</div>

<app-footer></app-footer>