<div class="container text-center">
<div class="container-div estilos-contenedor">
    <h1>Iniciar sesion</h1>
    <video autoplay="autoplay" loop="loop" id="video_background" preload="auto" volume="50">
        <source src="assets/images/video.mp4" type="video/mp4" />
      </video>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-row">
            <input formControlName="userName" type="text" class="form-control"
                id="userName" placeholder="Nombre Usuario">
        </div>
        <div class="form-row">

            <input formControlName="password" type="password"
                class="form-control" id="password" placeholder="Contraseña">
                   <a class="olvidoContra" routerLink=""><span>¿Olvidaste tu contraseña?</span></a>
        </div>

        <button class="btn  btn-lg btn-success text-center">Iniciar sesión</button>
    </form>
</div>
</div>
