<div class="container-fluid mt-2">
    <div class="texto">
        <div>
            <h1>Centro de accion GreenLife</h1>

        </div>
        <h4 class="text-center" style="color: white;">Recuerda:</h4>
        <div class="contenedor-todo">

            <div class="contenedor-img">
                <img class="imagen" src="assets/images/icon.png">
                <span><b>Siembra</b></span>
            </div>
            <div class="contenedor-img">
                <img class="imagen" src="assets/images/icon2.png">
                <span style="margin-left: 23px !important;"><b>Conserva</b></span>
            </div>
            <div class="contenedor-img">
                <img class="imagen" src="assets/images/icon3.png">
                <span><b>Proteje</b></span>
            </div>
            <div class="contenedor-img">
                <img class="imagen" src="assets/images/icon4.png">
                <span><b>Recicla</b></span>
            </div>
        </div>

        <h5>Cada dia esta plataforma crece y crece gracias al apoyo de todos
            ustedes y la motivacion que
            tiene con esta iniciativa de proteger la vida y motivar a las
            comunidades locales a cuidar sus recursos.
        </h5>

        <h5 class="text-center" style="color: white;"><a href="/">Conoce más <i class="far fa-arrow-alt-circle-right"></i></a></h5>


    </div>
    <div class="container text-center">
        <div class="container-div estilos-contenedor">
            <h1>Iniciar sesión</h1>
            <video autoplay="autoplay" loop="loop" id="video_background"
                preload="auto" volume="50">
                <source src="assets/images/video3.mp4" type="video/mp4" />
            </video>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-row">
                    <input formControlName="userName" type="text"
                        class="form-control"
                        id="userName" placeholder="Nombre Usuario">
                </div>
                <div class="form-row">

                    <input formControlName="password" type="password"
                        class="form-control" id="password"
                        placeholder="Contraseña">
                   
                </div>

                <button class="btn btn-lg btn-success text-center ">Iniciar sesión</button>
            </form>
        </div>
    </div>

</div>
