<!-- 
<div class="container mt-10" >
  <h1>Lista De Usuarios</h1>
    <div class="row">
        <div class="col mb-4" *ngFor="let u of allUsers">
            <div class="card listaUsers" style="width: 21rem; height: 360px;"  >
                <div class="card-body ">
                  <h5 class="card-title">{{u.name}} {{u.lastName}} </h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Correo: </b> {{u. email}} </li>
                    <li class="list-group-item"><b>Ciudad: </b> {{u.city}} </li>
                    <li class="list-group-item"><b>Número celular: </b> {{u.cellPhone}} </li>
                    <li class="list-group-item"><b>Nombre Usuario: </b> {{u.userName}} </li>
                    <li class="list-group-item"><b>Rol: </b> {{u.role}} </li>
                    <li class="list-group-item"><b>Estado: </b> {{u.status}} </li>
                  </ul>
                 
                    <a class="modificar-enlace close-icon" (click)="updateUser(u)" ><button class="btn btn-success text-center">Actualizar</button></a>
                  
                </div>
            </div>
        </div>
    </div>
</div> -->

<div>
  <div class="container mt-5 mb-5">
    <div class="buscar-titulo">
      <h2 class="title">Informacion de usuarios</h2>
      <div class="col-5">
        <input class="form-control mr-sm-2" type="search" placeholder="Nombre voluntario" aria-label="Search"
        (keyup)="loadUser()" [(ngModel)]="search"
        >
        <!-- <button class="btn btn-outline-success my-2 my-sm-0">Search</button> -->
      </div>
    </div>
      <div class="row" style="display: flex; justify-content: center;">
          <div style="width: 50%;display: flex; justify-content: center; border-right: 1px solid #ccc;">
              <div class="card" style="width: 24rem; border: none;">
                  <!--<img src="assets/images/donaciones.png" class="card-img-top" alt="...">-->
                  <div class="card-body">
                      <h5 class="card-title"
                          style="font-family: 'Raleway', sans-serif; color:rgb(26, 98, 167); font-weight: bold;">
                          Usuarios de GreenLife</h5>
                      <p class="card-text">En este apartado encontraras a todos los usuarios 
                        pertenecientes en el sistema tu acciones dentro de este sera eliminarlos,
                      lo podras hacer metiante el icono de la caneca que se encuentra al final de cada uno de ellos.
                      </p>
                  </div>
              </div>
          </div>
          <div style="width: 50%; display: flex; justify-content: center;">
              <div class="card" style="width: 24rem; border: none;">
                  <div class="card-body">
                      <h5 class="card-title"
                          style="font-family: 'Raleway', sans-serif; color:rgb(26, 98, 167); font-weight: bold;">
                        Buscador
                        </h5>
                      <p class="card-text">
                        En la parte superior a este cuadro encontraras el buscador de usuarios, 
                        este te facilitara la busqueda de estos en la lista.
                      </p>
                     
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



<div class="container mt-5">
  
  <table class="table table-striped">
      <thead class="bg-info text-light">
        <tr>
          <th scope="col">Nombre Apellido</th>
          <th scope="col">Correo</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Número celular</th>
          <th scope="col">Nombre Usuario</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of allUsers" class="movimiento">
          <th scope="row">{{u.name}} {{u.lastName}}</th>
          <td >{{u. email}}</td>
          <td>{{u.city}}</td>
          <td>{{u.cellPhone}} </td>
          <td>{{u.userName}} </td>
          <td style="color: rgb(18, 218, 18);"><b>{{u.status}}</b> </td>      
          <td><a class="close-icon acciones" (click)="updateUser(u)" ><i class="fas fa-user-edit"></i></a>
          <a class="close-icon" (click)="removeUser(u._id)"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
      </tbody>
    </table>
</div>

<!-- <i class="fas fa-trash"></i> -->


