<div class="container-fluid">
  <div class="jumbotron bg-img">
    <h2> Bienvenido a</h2>
    <h2> GreenLife</h2>
  </div>
</div>
<div class="container">
  <h2>Publicaciones</h2>
  <div class="row">
  <div class="col-6 p-2 cards" *ngFor="let n of allnewsletter">
      <div class="card" style="width: 700px;">
        <h5 class="card-header ">Titulo: {{n.title}}</h5>
        <div class="card-body">
          <p class="card-text"><b>Descripción: </b> {{n.description}} </p>
          <p><b>Fecha: </b> {{n.date}}</p> <a class="btn btn-info">Comentar</a>
          <img src="assets/images/Logo.png" class="img-fluid" width="250">
        </div>
      </div>
  </div>
</div>
</div>
